/* .main-btn {
	margin-top: 5%;
}
#modal1 {
	min-height: 50vh;
}

.input {
	margin: 3%;
}

.add {
	color: #009688;
}
.add:hover {
	color: #00796b;
	cursor: pointer;
} */
/* .container {
	height: 80vh;
} */

.label {
	font-size: 1rem;
}
